
[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Install]
WantedBy=niri.service

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "%h/.background.png"
Restart=on-failure
