[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/plugged/vim-airline"]
	path = .vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/plugged/vim-gitgutter"]
	path = .vim/plugged/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/plugged/vim-svelte"]
	path = .vim/plugged/vim-svelte
	url = https://github.com/evanleck/vim-svelte.git
